<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Demography</h1>
            <span>Charles University</span>
            <span><address>Prague, Czechia</address><time>2013 to 2015</time></span>
        </header>
        <p>
            <em>Thesis: Population Development in the Districts of Prague between 2001 and 2013.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>MA in Sociology</h1>
            <span>Charles University</span>
            <span><address>Prague, Czechia</address><time>2013 to 2017</time></span>
        </header>
        <p>
            <em>Thesis: Childlessness and Social Support Network in Old Age.</em>
        </p>
    </article>
</section>
