<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Postdoctoral researcher</h1>
            <span><address>Population Research Institute Väestöliitto and Kone Foundation, Helsinki, FI</address><time>September 2019 to January 2020</time></span>
        </header>
        <p>Did a support work on big representative longitudinal research/survey (initial sample of about 5000 respondents), that prepares, collects, and analyses data on generational transfers in Finland. My main task was to conduct extensive structured literature review on grandparental investments, that supports further development of used analytical and theoretical approaches. </p>
    </article>
    <article>
        <header>
            <h1>Research grant receiver</h1>
            <span><address>Charles University, Prague, CZ (distant work)</address><time> March 2019 to December 2019</time></span>
        </header>
        <p>I did hands on work on advanced stages of own PhD research, using combination of SPSS and Excel programs for nonparametric t-testing, logistic regressions, contingency tables, and fertility and recuperation analysis. Outcomes were presented at international scientific conference, in academic article in Finnish Yearbook of Population Research and in final report for the grant agency. </p>
    </article>
    <article>
        <header>
            <h1>Visiting researcher</h1>
            <span><address>Population Research Institute Väestöliitto, Helsinki, FI </address><time>November 2017 to January 2019</time></span>
        </header>
        <p>I worked on initial stage of work on own research, included literature and data overview, descriptive analyses and basic visualizations, mostly using combination of Excel and SPSS programs, outcome presented at public research seminars. I also did support work on international project, that studies partnership formations of people 50+. </p>
    </article>
</section>
