<section class="thirteen columns">
    <h1>Initiatives</h1>
    <article>
        <header>
            <h1>Board member of Kallio Rolling Rainbow</h1>
            <span><address>Kallio Rolling Rainbow, Helsinki, Finland</address><time>2019</time></span>
        </header>
        <p>
            Since 2019 I am board member of roller derby league Kallio Rolling Rainbow.
        </p>
    </article>
    <article>
        <header>
            <h1>Teaching experience</h1>
            <span><address>Charles University, Prague, Czechia</address><time>2015 to 2017</time></span>
        </header>
        <p>
            I was teaching practical lectures of cartography for demographers, informatics for demographers at Faculty of Science, three semesters in total. I also ran a workshop about data in maps at Faculty of Arts.
        </p>
    </article>
</section>