<section class="thirteen columns">
    <h1>Interests</h1>
    <article>
        <p>I enjoy sports, particularly skating. Because of this passion I am one of the founding members of Prague City Roller Derby which began in 2012. Roller derby has taught me a lot about the equal rights movement, especially about the beliefs of feminism and the LGBT+ rights movement, both of which I admire a great deal. I was also captain of the team representing the Czech Republic at the Roller Derby World Cup in 2018, and I currently act as a board member of my home roller derby league Kallio Rolling Rainbow. Apart from skating, I enjoy music, current affairs, travelling, and I care deeply about environmental issues.</p>
    </article>
</section>