<section class="thirteen columns">
    <h1>Skills</h1>
    <article>
        <p>
            &nbsp;&nbsp;<em>Programming languages: Python, SQL.</em>
        </p>
            &nbsp;&nbsp;<em>Data Analysis: Dask, Datetime, NLTK, Numpy, Pandas Pyreadstat, SpaCy.</em>
        </p>
        <p>
            &nbsp;&nbsp;<em>Data Visualization: Bokeh, Matplotlib, Plotly, Seaborn, Tableau.</em>
        </p>
        <p>
            &nbsp;&nbsp;<em>Database Management: SQL, SQLite.</em>
        </p>
        <p>
            &nbsp;&nbsp;<em>Machine Learning: Keras, PyTorch, Scikit-Learn, TensorFlow.</em>
        </p>
        <p>
            &nbsp;&nbsp;<em>Shell Programming: Command Line Interface.</em>
        </p>
        <p>
            &nbsp;&nbsp;<em>Version Control: Git, GitHub.</em>
        </p>
        <p>
            &nbsp;&nbsp;<em>Web Scraping: Beautiful Soup, Requests.</em>
        </p>
        <p>
            &nbsp;&nbsp;<em>Cloud: AWS.</em>
        </p>
        <p>
            &nbsp;&nbsp;<em>Other: ArcGIS, Excel, SAS, SPSS.</em>
        </p>
    </article>
</section>